<a href="https://colab.research.google.com/github/HadaviY/Python1Part2/blob/main/Python1_Part1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **1. Hello World**

In [1]:
print("Hello World")

Hello World

# **2. input() Function in Python**

In [2]:
sample = input("which city are you from?")
print(sample + " is a beautiful city")

which city are you from?Tehran
Tehran is a beautiful city

# **3. Operators in Python**

In [3]:
7 + 5

12

In [4]:
18 - 7.8

10.2

In [5]:
100 / 1.5

66.66666666666667

# **4. Commenting in Python**

Use # (number sign) to comment your codes

Python will ignore anything in a line that follows #

It is a good idea to comment your codes so that others can understand what you are trying to do.

In [ ]:
# This is a comment

In [6]:
9**1.5   # square root

27.0

In [7]:
round(2.6) # rounding numbers

3

# **5. Variables in Python**

In [8]:
print("This is an intro to Python") # simply printing the sentences without storing it in the memory

This is an intro to Python

In [9]:
sample = "This is an intro to Python" # defining the variable x
print(sample) # printing x on the screen

This is an intro to Python

In [10]:
sample = "This is an intro to Python" # defining the variable x
print(sample) # printing x on the screen

sample = "This is an advanced Python" # defining the variable x
print(sample) # printing x on the screen

This is an intro to Python
This is an advanced Python

# **6. Basic Data Types**

**6.1 Integers: int**

In [11]:
x = 2
print(x)

2

In [12]:
type(x)

int

**6.2 Floating-Point Numbers: float**

In [13]:
y = 3.1
print(y)

3.1

In [14]:
type(y)

float

**6.3 Boolean Data Type:**

In [15]:
A = 23
B = 56
print(A > B)

False

In [16]:
type (A > B)

bool

**6.4 String: str**

Python has great support for strings:

In [17]:
# Single quotes
Text = 'This is a string'
print(Text)

This is a string

In [18]:
# Double quotes
Text = "This is a string"
print(Text)

This is a string

In [19]:
# 3 Single quotes
Text = '''This is a string'''
print(Text)

This is a string

In [20]:
# 3 Double quotes
Text = """This is a string"""
print(Text)

This is a string

**6.4.1 Multiply**

In [21]:
example = 'Yes, ' * 3
print(example)

Yes, Yes, Yes,

**6.4.2 Appending**

In [22]:
example = "Today is a beautiful day "
example += "to learn Python"
print(example)

Today is a beautiful day to learn Python

**6.4.3 Lower & Upper Case**

In [24]:
sentence1 = "Asia is the Biggest Continent"
sample = sentence1.lower()
print(sample)

asia is the biggest continent

In [26]:
sentence2 ="Asia is the Biggest Continent"
sample = sentence2.upper()
print(sample)

ASIA IS THE BIGGEST CONTINENT

**6.4.4 Title**

Make the 1st letter in every word capitalized

In [27]:
sentence3 = "asia is the biggest continent"
sample = sentence3.title()
print(sample)

Asia Is The Biggest Continent

# **7. The str(), int(), and float() Functions**

You can use these three functions to convert strings, integers, and floating point values to each other

In [28]:
x = str(3.2)
print(x)
print(type(x))

3.2
<class 'str'>

In [29]:
x = int(3.3)
print(x)
print(type(x))

3
<class 'int'>

In [30]:
x = float("3.4")
print(x)
print(type(x))

3.4
<class 'float'>