<a href="https://colab.research.google.com/github/HadaviY/Python1Part2/blob/main/Python1Part3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **1. Containers**

Python includes several built-in container types: lists, dictionaries, sets, and tuples

 **1.1 Lists**

 A list is the Python equivalent of a variable (or an array like in C & C++), but is resizeable and can contain elements of different types:

In [1]:
colors = ['red', 'blue', 'green', 'black']
print(len(colors)) ##4

4

In [2]:
type(colors)

list

In [3]:
colors[1: ]

['blue', 'green', 'black']

**1.1.1 List Indexing**

In [4]:
mylist = ["California", "Alaska", "Arizona", "Arkansas", "Colorado", "Illinois"]
print(mylist[0])
print(mylist[2])
print(mylist[4])
print(mylist[-1])
print(mylist[5])

California
Arizona
Colorado
Illinois
Illinois

**1.1.2 List Slices**

In [5]:
mycolors = ['red', 'green', 'blue', 'yellow', 'white', 'black']
print(mycolors)

['red', 'green', 'blue', 'yellow', 'white', 'black']

In [6]:
print(mycolors[0]) ## red
print(mycolors[2]) ## blue

red
blue

In [7]:
print(mycolors)
mycolors[0] = "purple"
print(mycolors)
mycolors[2] = "orange"
print(mycolors)

['red', 'green', 'blue', 'yellow', 'white', 'black']
['purple', 'green', 'blue', 'yellow', 'white', 'black']
['purple', 'green', 'orange', 'yellow', 'white', 'black']

In [8]:
# all elements in the list up to, but not including the last one.
print(mycolors[:-1])

['purple', 'green', 'orange', 'yellow', 'white']

In [9]:
# start from the second element (index 1) up to, but not including the last element
sliced_list = mycolors[1:-1]
print(sliced_list)

['green', 'orange', 'yellow', 'white']

**1.1.3 List Methods**

In [10]:
L1 = ['larry', 'curly', 'moe']
print(L1)

['larry', 'curly', 'moe']

In [11]:
# list.append(elem) -- adds a single element to the end of the list
# Common error: does not return the new list, just modifies the original.
L1.append('shemp')    ## append elem at end
print(L1)

['larry', 'curly', 'moe', 'shemp']

In [18]:
# list.insert(index, elem) -- inserts the element at the given index, shifting elements to the right.
L1.insert(4, 'xxx')
print(L1)

['larry', 'curly', 'moe', 'shemp', 'xxx', 'xxx', 'xxx', 'xxx', 'xxx', 'xxx', 'xxx']

In [19]:
# list.extend(list2) adds the elements in list2 to the end of the list. Using + a list is similar to using extend().
L2 = ['zzz', 'yyy', 'xxx']
L1.extend(L2)
print(L1)

['larry', 'curly', 'moe', 'shemp', 'xxx', 'xxx', 'xxx', 'xxx', 'xxx', 'xxx', 'xxx', 'zzz', 'yyy', 'xxx']

In [20]:
# list.remove(elem) -- searches for the first instance of the given element and removes it
L1.remove('curly')
print(L1)

['larry', 'moe', 'shemp', 'xxx', 'xxx', 'xxx', 'xxx', 'xxx', 'xxx', 'xxx', 'zzz', 'yyy', 'xxx']

In [22]:
#list.sort() -- sorts the list in place (does not return it). (The sorted() function is preferred)
L1.sort()
print(L1)

['larry', 'moe', 'shemp', 'xxx', 'xxx', 'xxx', 'xxx', 'xxx', 'xxx', 'xxx', 'xxx', 'yyy', 'zzz']

In [23]:
# list.reverse() -- reverses the list in place (does not return it)
L1.reverse()
print(L1)

['zzz', 'yyy', 'xxx', 'xxx', 'xxx', 'xxx', 'xxx', 'xxx', 'xxx', 'xxx', 'shemp', 'moe', 'larry']

In [24]:
# list.pop(index) -- removes and returns the lement at the given index
# Returns the rightmost element if index is omitted (roughly the opposite of append())
popped_item = L1.pop(2)
print(popped_item)
print(L1)

xxx
['zzz', 'yyy', 'xxx', 'xxx', 'xxx', 'xxx', 'xxx', 'xxx', 'xxx', 'shemp', 'moe', 'larry']

# **1.2 Tuples**

**1.2.1 Creating Tuples**

Unlike Lists, Tuples are immutable and can't be altered.

In [25]:
# Let's create a tuple
# Unlike lists, no square brackets are needed to create tuples
mytuple = ('cat', 'dog', 'fish')
print(mytuple)

('cat', 'dog', 'fish')

In [26]:
type(mytuple)

tuple

In [27]:
# Let's try to change an element in our Tuple
mytuple[0] = 'bird'

TypeError: 'tuple' object does not support item assignment

In [28]:
print(mytuple)

('cat', 'dog', 'fish')

**1.2.2 Replicating Tuples**

In [31]:
T = (1,4,6) * 3
print(T)

(1, 4, 6, 1, 4, 6, 1, 4, 6)

**1.2.3 Slicing Tuples**

In [32]:
t = (1,2,3,4,5,6)
print(t[2:4])

(3, 4)

# **1.3 Dictionaries**

Python's efficient key:value hash table structure is called a "dict"

The contents of a dict can be written as a series of key:value pairs within braces {}

In [33]:
## Can build up a dict by starting with the empty dict {}
## and storing key:value pairs into the dict like this:
## dict[key] = value-for-that-key
phonebook = {}
phonebook["John"] = 938477566
phonebook["Jack"] = 938377264
phonebook["Jill"] = 947662781
print(phonebook)

{'John': 938477566, 'Jack': 938377264, 'Jill': 947662781}

In [37]:
print(phonebook["John"])

876597754766

In [39]:
phonebook['John'] = 876597754766
print(phonebook)

{'John': 876597754766, 'Jack': 938377264, 'Jill': 947662781, 'Joe': 876597754766}

In [40]:
print(phonebook.keys())

dict_keys(['John', 'Jack', 'Jill', 'Joe'])

In [41]:
print(phonebook.values())

dict_values([876597754766, 938377264, 947662781, 876597754766])

In [42]:
print(phonebook.items())

dict_items([('John', 876597754766), ('Jack', 938377264), ('Jill', 947662781), ('Joe', 876597754766)])

In [43]:
countries = {'CA': 'Canada', 'US': 'United States', 'MX': 'Mexico'}
print(countries['CA'])

Canada

In [45]:
states = {'NY': 'New York', 'CA': 'Los Angeles', 'TX': 'Austin', 'IL': ['Chicago', 'Des Plaines', 'Oak Park']}
states ['IL']

['Chicago', 'Des Plaines', 'Oak Park']

# **2. Conditionals & Loops**
**2.1 Comparison Operators (Relational Operators)**

In [46]:
print (12 < 19)

True

In [47]:
print (87 < 36)

False

In [48]:
a = 9.2 > 10.1
print(a)

False

In [49]:
print (32 == 23)

False

**2.2 Control Flow Statements**

In [50]:
# Sequential Structure: follow the structure line by line
a = 5
print (a, 'is an integer')

5 is an integer

**2.3 If/Else Conditional Statements**

In [52]:
x = 31
if x % 4 == 0:
  print("This number is dividible by 4")
else:
  print("This number is not dividible by 4")

This number is not dividible by 4

In [53]:
y = 32
if y % 4 == 0:
  print("This number is dividible by 4")
else:
  print("This number is not dividible by 4")

This number is dividible by 4

In [54]:
x = input('Enter a number: ')
x = int(x)
if x % 4 == 0:
  print("This number is dividible by 4")
else:
  print("This number is not dividible by 4")

Enter a number: 3
This number is not dividible by 4

**2.4 If Elif Else**

In [55]:
n = 12
if n % 3 == 0:
  print("This number is dividible by 3")
elif n % 5 == 0:
  print("This number is dividible by 5")
else:
  print("This number is not dividible by 3 or 5")

This number is dividible by 3

**2.5 For Loops**

In [56]:
v = [45, 89, 56]
out = 0 # Initialize a variable out to store the sum
for val in v: #creates the condition for the loop to go through the values in v one by one
  out += val
  print(out)
print("Sum of the 3 elements of the vector v: ", out)

45
134
190
Sum of the 3 elements of the vector v:  190

**2.6 While Loop**

In [57]:
# Simple counting example
count = 1

while count <= 5: # runs while count is less than or equal to 5
     print("Count is:", count)
     count += 1 # increase count by 1

print("End of while loop")

Count is: 1
Count is: 2
Count is: 3
Count is: 4
Count is: 5
End of while loop

In [58]:
a = 0 # Initialize sum variable
b = 1 # Start counting from 1
N = int(input("Enter number: ")) # Take user input and convert it to an integer

while b <= N: # Loop until 'b' exceeds 'N'
   a = a + b  # Add 'b' to 'a'
   b = b + 1  # Increment 'b' by 1

# If N = 5, the loop is:
# a = 0 + 1 = 1, b = 1 + 1 = 2
# a = 1 + 2 = 3, b = 2 + 1 = 3
# a = 3 + 3 = 6, b = 3 + 1 = 4
# a = 6 + 4 = 10, b = 4 + 1 = 5
# a = 10 + 5 = 15, b = 5 + 1 = 6
# Loop stops here because b is no longer less than or equal to N

print("Sum of the numbers from 1 to", N, "numbers is:", a)

Enter number: 5
Sum of the numbers from 1 to 5 numbers is: 15

# **3. Break & Continue**

**3.1 Break**

In [59]:
M = 10  # Set the limit to 10
j = 1   # Start with j = 1

while j <= M:  # Run the loop while j is less than or equal to 10
  if j % 2 == 0:  # Check if j is divisible by 2
    print(j, "is divisible by 2")
    if j % 3 == 0:  # Check if j is also divisible by 3
      print(j, "is divisible by 3")
      break  # Stop the loop if j is divisible by both 2 and 3
  j = j + 1  # Increment j by 1

  # Condition 1 (Divsible by 2) must be met, before moving on to condition 2, and if both conditions are met, break the loop

2 is divisible by 2
4 is divisible by 2
6 is divisible by 2
6 is divisible by 3

**3.2 Continue**

In [60]:
for letter in 'Python':
    if letter == 'h':
        continue
    print('Current Letter :', letter)

Current Letter : P
Current Letter : y
Current Letter : t
Current Letter : o
Current Letter : n

# **Examples from Class**

In [ ]:
motorcycles: list[str] = ["honda", "suzuki", "yamaha"]
print(motorcycles)
print (motorcycles[0])
motorcycles[1] = "Harley"
print(motorcycles)

['honda', 'suzuki', 'yamaha']
honda
['honda', 'Harley', 'yamaha']

In [ ]:
motorcycles: list[str] = ["honda", "suzuki", "yamaha"]
motorcycles.append("Harley")
print(motorcycles)

['honda', 'suzuki', 'yamaha', 'Harley']

In [ ]:
def add(a: str, b: str) -> int:
    return a + b
print(add(1.8, 2.5))

4.3

In [ ]:
def greet(name: str, greeting:str):
  print (f"{greeting}, {name}!")

In [ ]:
section_102: list[str]= ["Hari", "Owen", "Liam", "Henry", "Emmanuel"]  #I use type annotation for this code
section_102 = ["Hari", "Owen", "Liam", "Henry", "Emmanuel"]
for name in section_102:
  print(name)

Hari
Owen
Liam
Henry
Emmanuel

In [ ]:
section_102 = ["Hari", "Owen", "Liam", "Henry", "Emmanuel"]
section_102[2] = "Yasamin"
print(section_102)

['Hari', 'Owen', 'Yasamin', 'Henry', 'Emmanuel']

In [ ]:
section_102 = ["Hari", "Owen", "Yasamin", "Henry", "Emmanuel"] #index starts with 0!!!!!!!
section_102[3] = "Liam"
print(section_102)

['Hari', 'Owen', 'Yasamin', 'Liam', 'Emmanuel']

In [ ]:
section_102 = ["Hari", "Owen", "Liam", "Henry", "Emmanuel"]
section_102.append("Yasamin")
print(section_102)

['Hari', 'Owen', 'Liam', 'Henry', 'Emmanuel', 'Yasamin']

In [ ]:
def add (a: float, b: float) -> float:
  return (a/b)
print(add(a=2,b=4))

0.5

In [ ]:
def add_1(a:float, b:float) -> float:
  print(f"Adding: {a} + {b}")
  return(a + b)
print(add_1(a = 10.2, b= 10.9))

Adding: 10.2 + 10.9
21.1